<header>
        <p>{{ pageTitle }}</p>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/Manutention">Manutention</a></li>
        </ul>
</header>